extends ../shared/layout

block content
    div(class="container")
        h1 Admin Login
        form(method="POST" action="admin/login")
            div(class="form-row pb-3")
                input#loginId(type="text" placeholder="Username/Email" name="loginId")
            div(class="form-row pb-3")
                input#password(type="password" placeholder="Password" name="password")
            div(class="form-row")
                button(class="btn btbn-secondary" type="submit") Login