extends ../shared/layout

block content
    h1 Admin Login
    form(method="POST" action="admin/login")
        input#loginId(type="text" placeholder="Username/Email" name="loginId")
        input#password(type="password" placeholder="Password" name="password")
        button(class="btn" type="submit") Login