block varibales
-var authenticated = typeOfAuthenticated
doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js", integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm", crossorigin="anonymous")
    link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh", crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js", integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6", crossorigin="anonymous")
    script(src='/javascripts/script.js')
  body
    div(class="container-fluid align-center")
        h1 #{title}
        
        div(class="container main-header")
            nav(class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3")
                button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu-navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"): span(class="navbar-toggler-icon")
                div#idmenu-navbar(class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse")
                ul(class="navbar-nav flex-grow-1")
                    li(class="nav-item")
                        a(class="nav-link text-dark" href="/login") Login
                    li(class="nav-item")
                        a(class="nav-link text-dark") Browse
                    - if(authenticated == 2)
                        li(class="nav-item")
                        a(class="nav-link text-dark") Admin
                    - if (authenticated > 0)
                        li(class="nav-item")
                        a(class="nav-link text-dark") Logout
    block content