extends shared/layout

block content

    div(class="container-fluid align-center")
        h1 Welcome to "Piljetter"!  
        h3 To see what we offer, you can use the search functionalty above.
        h4 But in order to purchase any tickets, you have to create an account and sign in.