extends shared/layout

block content
    div(class="container")
        h1 User Login
        form(method="POST" action="/login")
            div(class="form-row pb-3")
                input#loginId(type="text" placeholder="Username/Email" name="loginId")
            div(class="form-row pb-3")
                input#password(type="password" placeholder="Password" name="password")
            div(class="form-row")
                button(class="btn btn-secondary" type="submit") Login

    script(type="text/javascript").
        var success = !{success}
        if (!success) {document.getElementById("loginId").classList.add("alert-danger"); document.getElementById("password").classList.add("alert-danger");}